.header{
	text-decoration: none;
}

.container-fluid{
	padding:1.7% 1%;
	display: flex;
	justify-content: center;
	background-color: rgba(84, 84, 84, 0.2);
}

.container-fluid h1{
	font-size: 35px;
	color:black;
}


.header__search{
	margin-left:10%;
	position: relative;
	display: flex;
}

.header__searchInput{
	width:100%;
	height: 45px;
	font-size:30px;
	border: 1px solid black;
	padding-left:8px; 
}

.header__searchIcon{
	position: absolute;
	right:0;
	cursor: pointer;
	margin-top:10px;
}

.header__menu{
	display: flex;
	flex-direction: row;
	margin-left: 2%;
}

.header__unit{
	display:flex;
	flex-direction: row;
	align-self: center;	
	border-right:1px solid grey;
	height: 30px;
	padding:0 10%;
	cursor:pointer;
}

.header__unit a{
	margin:0 2%;
	font-size: 20px;
	text-decoration: none;
	color:black;
}

#container-bottom{
	background-color: white;
	padding:1.5% 1%;
	justify-content: center;
}

.nav-link{
	color:black;
	font-size: 20px;
	text-transform: uppercase;
}

